@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Sora", sans-serif;
}

.slide {
  display: block;
  height: 100vh;
  width: 100%;
  background-color: #eef9dc;
}

#slide-1 {
  background-color: #eef9dc;
}

#slide-5 {
  background-color: transparent;
}

#slide-6,
#slide-7 {
  background-color: #e8dcf9;
}
