// Customised variables
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
  9: $spacer * 9,
);

// Temp
$display-font-weight: 500;

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Functions
@import "../../node_modules/bootstrap/scss/functions";

// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

// Material icons
.material-icons {
  vertical-align: middle;
  line-height: 0 !important;
  position: relative;
  top: -1px;
}

.material-icons.md-14 {
  font-size: 14px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

// Custom CSS
* {
  font-family: "Sora", sans-serif;
}

body {
  background-color: #f1f1f1;
}

header {
  background-color: #f1f1f1;
}

.navbar-toggler {
  border: none;
  outline: none;

  &:focus,
  &:active,
  &-icon:focus {
    outline: none;
    box-shadow: none;
  }
}

.hero-video-container {
  overflow: hidden;
  border-radius: $spacer * 1.5;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.hero-image {
  border-radius: $spacer * 1.5;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.hero-text {
  border-radius: $spacer * 1.5;
  border: 1px solid #4d5eff;
}

footer {
  font-size: 0.875rem;
  background-color: #f1f1f1;
}

footer .dropdown-menu {
  font-size: 0.875rem;
}

.slide {
  display: block;
  height: relative;
  width: 100%;
  background-color: #f1f1f1;
}

// Media queries
@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
  .slide {
    display: block;
    height: relative;
    width: 100%;
    background-color: transparent;
  }
}

@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(xxl) {
}
